.footermain
{
   display:flex;
   margin:auto;
   gap:28px;
   justify-content: center;
}
<<<<<<< HEAD
.insta{
    width: 40%;
}
.snapchat{
    width: 40%;
}
.fb
{
    width: 40%;
=======
.fb,.insta,.snapchat
{
<<<<<<< HEAD
    width: 2.5%;
>>>>>>> f83085a (women data)
=======
    width: 25.5%;
>>>>>>> b8362dc (responsive landing page)
    border-radius: 50%;
}

.visa,.master,.paypal,.american,.electron
{
<<<<<<< HEAD
<<<<<<< HEAD
    width:25.5%;
    height:80%
=======
    width:2.5%;
    height:2%
>>>>>>> f83085a (women data)
=======
    width:25.5%;
    height:80%
>>>>>>> b8362dc (responsive landing page)
}

/* end footer */
.lastfooter
{
    display: flex;
    background-color:#eeeeee ;
    height: 13rem;
    justify-content: center;

}
<<<<<<< HEAD
<<<<<<< HEAD
/* .helpdiv
{
        width: 100%;
        line-height: 30px;
        text-align: left;
} */
=======
.helpdiv
=======
/* .helpdiv
>>>>>>> b8362dc (responsive landing page)
{
        width: 100%;
        line-height: 30px;
        text-align: left;
<<<<<<< HEAD
}
>>>>>>> f83085a (women data)
=======
} */
>>>>>>> b8362dc (responsive landing page)
.head
{
    font-size: 16px;
    font-weight: bold;
   
}